@import 'tailwindcss';

@theme {
  --color-ghost-white: #f8f8ff;
  --color-custom-dark-gray: #0d1117;
}

body {
  background-color: var(--color-custom-dark-gray);
  color: var(--color-ghost-white);
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
}
